// Colors
$color-primary: #f2f2f2;
$clear: #FFF;
$dark: #000;
$text-dark: #000;
$text-primary: #777;

// Font Sizes
$font-size-sm: 1.4rem;
$font-size-base: 1.6rem;
$font-size-md: 1.8rem;
$font-size-big: 2rem;
$font-size-h2: 2.6rem;
$font-size-h1: 3rem;
$font-size-bigger: 6rem;