.description {
    $this: &;

    margin-top: 30px;

    &__text {
        font-size: 3.5rem;
        font-weight: normal;
        line-height: 4.5rem;

        #{$this}__highlight {
            background-color: $dark;
            color: $clear;
            padding: 5px;

            &::after {
                content: "_";
                animation: fadeInOut 0.5s infinite;
            }
        }

        @media screen and (min-width: 992px) {
            font-size: $font-size-big;
            line-height: 6rem;
        }
    }
}
