.header {
    $this: &;
    margin-bottom: 52px;

    &__title {
        font-size: $font-size-h1;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        #{$this}__logo {
            width: 50px;
            height: 50px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
