.primary-menu {
    $this: &;

    .primary-menu__hamburger-button {
        height: 22px;
        display: block;
        cursor: pointer;
        border: none;
        background: none;

        #{$this}__hamburger {
            display: block;
            width: 23px;
            height: 2px;
            background-color: $dark;
            cursor: pointer;
            position: relative;
            transition: all 0.2s;
    
            &::before,
            &::after {
                content: " ";
                height: 100%;
                width: 100%;
                background-color: inherit;
                position: absolute;
                bottom: 8px;
                left: 0;
                transform: rotate(0deg);
                transform-origin: right;
                transition: transform 0.2s;
            }
    
            &::after {
                top: 8px;
            }
        }

        &--active {
            z-index: 9999;
            position: fixed;

            #{$this}__hamburger {
                background-color: transparent;

                &::before,
                &::after {
                    background-color: $clear;
                }

                &::before {
                    transform: rotate(-45deg);
                }

                &::after {
                    transform: rotate(45deg);
                }
            }

            & + #{$this}__list {
                height: 100vh;
                opacity: 0.9;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;

                #{$this}__item {
                    font-size: $font-size-h1;

                    a {
                        color: $clear;
                        text-decoration: none;

                        &::after {
                            content: " ";
                            display: block;
                            height: 2px;
                            background-color: $clear;
                            transform-origin: left;
                            transform: scaleX(0);
                            transition: transform 0.2s;
                        }
                        
                        &:hover::after {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }

    &__list {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        height: 0;
        overflow-y: scroll;
        background-color: $dark;
        transition: opacity 1s;
    }
}
