.primary-menu {
    $this: &;

    .primary-menu__hamburger-button {
        height: 22px;
        display: block;
        cursor: pointer;
        border: none;
        background: none;

        #{$this}__hamburger {
            display: block;
            width: 23px;
            height: 2px;
            background-color: $dark;
            cursor: pointer;
            position: relative;
    
            &::before,
            &::after {
                content: " ";
                height: 100%;
                width: 100%;
                background-color: inherit;
                position: absolute;
                bottom: 8px;
		        left: 0;
            }
    
            &::after {
                top: 8px;
            }
        }
    }

    &__list {
        display: none;
    }
}
