.projects {
    $this: &;

    margin-top: 30px;

    &__categories {
        list-style: none;
        display: flex;

        #{$this}__category {
            .button {
                display: inline-block;
                background-color: transparent;
                border: none;
                color: $text-primary;
                cursor: pointer;
                font-weight: 200;

                &::after {
                    content: " ";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $dark;
                    transform-origin: left;
                    transform: scaleX(0);
                    transition: transform 0.2s;
                }
            }
            
            &.active,
            &:hover {
                .button{
                    color: $dark;

                    &::after{
                        transform: scaleX(1);
                    }
                }
            }

            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    &__list {
        margin-top: 15px;
        list-style: none;
        position: relative;

        #{$this}__item {
            max-width: calc(33.33333333333% - 5px);
            width: 100%;
            margin-bottom: 10px;
            position: absolute;
            transition: 0.2s all;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $dark;
            background-size: 194px auto;

            &.hide {
                transform: scale(0);
            }

            .item {
                &__content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    min-height: 250px;
                    margin: 20px;
                    padding: 20px;
                    top: 0;
                    left: 0;
                    background-color: $clear;
                    opacity: 0;
                    transition: 0.3s all;

                    & > *:not(:last-child) {
                        margin-bottom:20px;
                    }
                }

                &__title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: $font-size-base;
                    transition: 0.3s all;
                    font-weight: normal;
                    font-weight: bold;
                }
                
                &__description {
                    font-size: $font-size-base;
                    font-weight: normal;

                    p {
                        margin: 10px 0;
                        line-height: 24px;
                    }
                }

                &__tecnologies {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    
                    .title {
                        font-size: $font-size-base;
                        flex: 1 0 100%;
                        border-bottom: 0;
                        margin-bottom: 7px;
                        text-align: start;
                        font-weight: normal;

                        &::after {
                            content: none;
                        }
                    }
                }

                &__tecnology {
                    text-decoration: underline;
                    text-transform: uppercase;
                    font-size: $font-size-base;
                    list-style: none;
                    font-weight: bold;

                    &:not(:last-child) {
                        margin-right: 5px
                    }
                }

                &__read-more {
                    align-self: flex-end;
                    padding: 5px 10px;
                    background: $clear;
                    color: $clear;
                    border: 1px solid $dark;
                    opacity: 1;
                    cursor: pointer;
                    transition: color, background-color 0.2s;
                    font-family: inherit;
                    background-color: $dark;
                    text-decoration: none;
                    font-size: $font-size-sm;
                }
            }

            &:hover {
                .item {
                    &__content {
                        opacity: 1;
                    }
                }
            }

            @media screen and (max-width: 768px) {
                max-width: calc(50% - 5px);
            }

            @media screen and (max-width: 480px) {
                max-width: calc(100%);
            }
        }
    }
}