@import "./reset.scss";
@import "./common/variables.scss";
@import "./common/effects.scss";

@import "./components/container.scss";
@import "./components/header.scss";
@import "./components/primary-menu.scss";
@import "./components/description.scss";
@import "./components/projects.scss";
@import "./components/footer.scss";
@import "./components/blocks.scss";
@import "./components/modal.scss";
@import "./components/archive-info.scss";
@import "./components/section.scss";
@import "./components/archive-post-list.scss";
@import "./components/archive-article.scss";

@import "./utils.scss";

html {
    background-color: $clear;
}

body {
    background-color: $color-primary;
    min-height: 100vh;
    
    @media screen and (min-width: 992px) {
        min-height: calc(100vh - 50px);
        margin: 25px;
    }
}
