@import "./reset.scss";
@import "./common/variables.scss";

@import "./components/container.scss";
@import "./components/header.scss";
@import "./components/primary-menu.scss";

html {
    background-color: $clear;
}

body {
    background-color: $color-primary;
    
    @media screen and (min-width: 992px) {
        min-height: calc(100vh - 100px);
        margin: 25px;
    }
}
